<section >
  <div class="about-us-section">
    <div class="about-us-head">
      <h2 class="about-us-title">
        Let's get a little closer together.
      </h2>
    </div>
    <div class="about-us-info">
      <div class = 'about-us-info-text'>
        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. 
      </div>
      <div class = 'about-us-info-text'>
        But because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires.
      </div>
    </div>
    <div class="how-we-work-container">
      <h3 class="how-we-work-head">
        How we work:
      </h3>
      <ul class="work-features-list">
        <li class="work-feature">
          <h4 class="work-feature-head">

            We accept your order
          </h4>
          <div>
            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you.
          </div>
        </li>
        <li class="work-feature">
          <h4 class="work-feature-head">
            Arrive at the location             
          </h4>
          <div>
            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you.
          </div>
        </li>
        <li class="work-feature">
          <h4 class="work-feature-head">
            We produce materials            
          </h4>
          <div>
            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you.            
          </div>
        </li>
        <li class="work-feature">
          <h4 class="work-feature-head">
            Install the pool            
          </h4>
          <div>
            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you.            
          </div>
        </li>
      </ul>
    </div>


  </div>
  
</section>
