<footer class="footer">
  <div>
    <div>
      <h2>Get the pool of your dreams! </h2>
      <p>We are a group of talented professionals with over 62 years experience in pool industry</p>
      <button>Plan Your Pool</button>
    </div>
    <nav>
      <ul>
        <li><a href="#pool-shapes">Pool Shapes</a></li>
      <li><a href="#about-us">About Us</a></li>
      <li><a href="#project">How we Work</a></li>
      <li><a href="#contacts">Contacts</a></li>
      <li><a href="#offline">Offline</a></li>
      </ul>
    </nav>
  </div>
  <div>
    <ul>
      <li><a>Terms & Conditions</a></li>
      <li><a>Privacy Policy</a></li>
    </ul>
    <p>Copyright © 2022 Pool Kits. All rights reserved.</p>
  </div>

</footer>
