<header class="header">
  <div class="company-logo">
    <div class="logo">
      <div class="rect1"></div>
      <div class="rect2"></div>
    </div>
    <span class="logo-name" >Pool Kits</span>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="#pool-shapes">Pool Shapes</a></li>
      <li><a href="#about-us">About Us</a></li>
      <li><a href="#project">How we Work</a></li>
      <li><a href="#contacts">Contacts</a></li>
    </ul>
  </nav>
  <button class="main-btn">Select Shape</button>
</header>
