<section>
  <div class="head-section">
    <div class="head">
      <h1 class="title">Get the pool of your dreams!</h1>
      <p class="head-section-text">
        We are a group of talented professionals with over 62 years experience
        in the pool industry . With back grounds in sale service and
        installations . Buying in large quantities Allows us to offer quality
        products and past the savings to our customers . The sooner you call we
        can help you get your backyard dream on its way.
      </p>
      <button class="main-btn">Select Shape</button>
    </div>
    <div class="benefits-container">
      <h3 class="benefits-head">
        Check <span class="new-line">our benefits:</span>
      </h3>
      <div class="benefits">
        <ul class="benefit-list">
          <li class="benefit-item">
            <div class="benefit-logo">
              <svg>
                <use href="/img/svg/award.svg"></use>
              </svg>
            </div>
            <h4 class="benefit-head">Quality of work</h4>
            <p>
              But I must explain to you how all this mistaken idea of denouncing
              pleasure and praising pain was born and I will give you.
            </p>
          </li>
          <li class="benefit-item">
            <div class="benefit-logo">
              <svg width="32" height="32">
                <use href="../img/icons/dollar-sign.svg#dollar-sign"></use>
              </svg>
            </div>
            <h4 class="benefit-head">Affordability</h4>
            <p>
              But I must explain to you how all this mistaken idea of denouncing
              pleasure and praising pain.
            </p>
          </li>
          <li class="benefit-item">
            <div class="benefit-logo">
              <svg width="32" height="32">
                <use href="../img/icons/clock.svg#clock"></use>
              </svg>
            </div>
            <h4 class="benefit-head">Fast execution</h4>
            <p>
              But I must explain to you how all this mistaken idea of denouncing
              pleasure and praising pain was born and I will give you a complete
              account of the system.
            </p>
          </li>
          <li class="benefit-item">
            <div class="benefit-logo">
              <svg width="32" height="32">
                <use href="../img/icons/layers.svg#icon-layer"></use>
              </svg>
            </div>
            <h4 class="benefit-head">Wide selection</h4>
            <p>
              But I must explain to you how all this mistaken idea of denouncing
              pleasure and praising pain was born.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
