<section class="pool-shape-section" id="pool-shapes">
  <div class="pool-shape-info">
    <h2 class="pool-shape-title">We've chosen the best offers for you.</h2>
    <p class="pool-shape-text">
      Planning an inground swimming pool as part of your dream backyard is a fun
      and exciting journey. Latham is here to guide you through the
      pool-planning process and help you explore pool shape options, compare
      different design ideas and create a budget in order to build your dream
      pool.
    </p>
    <p class="pool-shape-text">
      Use these pool planning resources to research, imagine and save your ideas
      all in one place.
    </p>
    <button class="green-button pool-shape-btn">Plan Your Pool</button>
  </div>
  <ul class="pool-shape-gallery">
    <li class="img-item-left">
      <h3 class="left-head-pool-shape">Gemini Blue</h3>
      <img
        class="pool-shape-img-left"
        src="/img/pool-shape1.jpg"
        alt="Gemini Blue"
      />
      <div class="overlay-pool-shape-left">
        <p class="p-white">
          But I must explain to you how all this mistaken idea of denouncing
          pleasure and praising pain was born and I will give you a complete
          account of the system, and expound the actual teachings of the great
          explorer of the truth, the master-builder of human happiness. No one
          rejects, dislikes, or avoids pleasure itself, because it is pleasure
        </p>
        <button class="transparent-btn">Learn More</button>
      </div>
    </li>
    <li class="img-item-right">
      <div class="container-right">
        <h3 class="right-head-pool-shape">Mountain Lake</h3>
        <img
          class="pool-shape-img-right"
          src="/img/pool-shape2.jpg"
          alt="Mountian Lake"
        />
        <div class="overlay-pool-shape-right">
          <p class="p-white">
            But I must explain to you how all this mistaken idea of denouncing
            pleasure and praising pain was born and I will give you a complete
            account of the system, and expound the actual teachings of the great
            explorer of the truth, the master-builder of human happiness. No one
            rejects, dislikes, or avoids pleasure itself.
          </p>
          <button class="transparent-btn">Learn More</button>
        </div>
      </div>
    </li>
  </ul>
</section>
