<section class="project-section">
  <div class="project-info">
    <h2 class="project-info-title">Take a look at our work!</h2>

    <p class="project-info-text">
      But I must explain to you how all this mistaken idea of denouncing
      pleasure and praising pain was born and I will give you a complete account
      of the system, and expound the actual teachings of the great explorer of
      the truth, the master-builder of human happiness.
    </p>
  </div>
  <ul class="project-gallery">
    <li class="project-gallery-left-item">
      <img
      class="project-left-img"
        src="../img/project1.jpg"
        alt="Astoria spa"
      />
      <div class="project-left-img-info">
        <h3>Astoria</h3>
        <p class="project-left-img-text">
          Add a spa into your pool for the best of both worlds, the Astoria lets
          you create your own experience every time.
        </p>
        <div class="project-tags">
          <button class="transparent-small-btn">Light</button>
          <button class="transparent-small-btn">Stairs</button>
          <button class="transparent-small-btn">Stone trim</button>
          <button class="transparent-small-btn">SPA</button>
         </div>
         </div>
        <button class="transparent-btn project-order-btn ">Order this project</button>
    </li>
    <li class="project-gallery-right-item">
        <div class="project-right-img-container">
            <img
            class="project-right-img"
            src="../img/project2.jpg"
            alt="Astoria pool"
          />
          <div class="project-right-img-info">
            <h3>Astoria</h3>
            <p class="project-right-img-text">
                Add a spa into your pool for the best of both worlds, the Astoria lets you create your own experience every time.
            </p >
            <div class="project-tags">
              <button class="transparent-small-btn">Light</button>
              <button class="transparent-small-btn">Stairs</button>
              <button class="transparent-small-btn">Stone trim</button>
              <button class="transparent-small-btn">SPA</button>
            </div>
          </div>
        </div>
    </li>
  </ul>
</section>
