/* Our project  */

@keyframes leftButtonransformIn {
  0% {
    transform: translateX(150%);
  }

  30% {
    transform: translateX(0%);
  }
  45% {
    transform: translateX(-30%);
  }

  90% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes leftButtonransformOut {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(150%);
  }
}

@keyframes leftImgTransformIn {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.5);
  }
  45% {
    transform: scale(1.7);
  }

  90% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes leftImgTransformOut {
  0% {
    transform: scale(1.5);
  }
  40% {
    transform: scale(1);
  }
  45% {
    transform: scale(0.9);
  }

  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Pool Shapes */
@keyframes leftHeadAnimateIn {
  0% {
    z-index: 20;
    transform: translateY(0);
  }

  30% {
    z-index: 20;
    transform: translateY(-300px);
  }
  45% {
    z-index: 20;
    transform: translateY(-350px);
  }

  90% {
    z-index: 20;
    transform: translateY(-280px);
  }

  100% {
    z-index: 20;
    transform: translateY(-300px);
  }
}

@keyframes leftHeadAnimateOut {
  0% {
    z-index: 20;
    transform: translateY(-300px);
  }
  40% {
    z-index: 20;
    transform: translateY(0px);
  }
  45% {
    z-index: 20;
    transform: translateY(40px);
  }

  90% {
    z-index: 20;
    transform: translateY(-20px);
  }
  100% {
    z-index: 10;
    transform: translateY(0);
  }
}

@keyframes leftPoolShapeImgAnimate {
  0% {
    transform: scale(1.3);
  }

  100% {

    transform: scale(1.5);
  }
}

@keyframes leftPoolShapeOverlayAnimateIn {
  0% {
    opacity: 0;
  }

  100% {

    opacity: 1;
  }
}

@keyframes leftPoolShapeOverlayAnimateOut {
  0% {
    opacity: 1;
  }

  100% {

    opacity: 0;
  }
}

@keyframes rightHeadAnimateIn {
  0% {
    z-index: 20;
    transform: translateY(0);
  }

  30% {
    z-index: 20;
    transform: translateY(-220px);
  }
  45% {
    z-index: 20;
    transform: translateY(-270px);
  }

  90% {
    z-index: 20;
    transform: translateY(-200px);
  }

  100% {
    z-index: 20;
    transform: translateY(-220px);
  }
}

@keyframes rightHeadAnimateOut {
  0% {
    z-index: 20;
    transform: translateY(-220px);
  }
  40% {
    z-index: 20;
    transform: translateY(0px);
  }
  45% {
    z-index: 20;
    transform: translateY(40px);
  }

  90% {
    z-index: 20;
    transform: translateY(-20px);
  }
  100% {
    z-index: 10;
    transform: translateY(0);
  }
}

@keyframes rightPoolShapeImgAnimate {
  0% {
    transform: scale(1.1);
  }

  100% {

    transform: scale(1.9);
  }
}

@keyframes rightPoolShapeOverlayAnimateIn {
  0% {
    opacity: 0;
  }

  100% {

    opacity: 1;
  }
}

@keyframes rightPoolShapeOverlayAnimateOut {
  0% {
    opacity: 1;
  }

  100% {

    opacity: 0;
  }
}



/* CTA section */

@keyframes ctaContainer {
  0% {
    transform-origin: top center;
    transform: scale(1);
  }

  100% {
    transform-origin: top center;
    transform: scale(1.5);
  }
}

@keyframes ctaOverlay {
  0% {
    transform-origin: top center;
    opacity: 0;
  }

  100% {
    transform-origin: top center;
    opacity: 1;
  }
}

@keyframes ctaText {
  0% {
    transform-origin: top center;
    opacity: 0;
  }

  100% {
    transform-origin: top center;
    opacity: 1;
  }
}

@keyframes ctaButton {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
