.cta-section {
  width: 1440px;
  height: 773px;
  overflow: hidden;
  position: relative;
}

.cta-container {
  position: relative;
  margin: 0 auto;
  width: 1062px;
  height: 570px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.animate-cta-container {
  animation: ctaContainer 500ms linear alternate forwards;
}

.cta-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
  border: none;
  outline: none;
}

.cta-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.animate-cta-overlay {
  animation: ctaOverlay 500ms linear alternate forwards;
}

.cta-text {
  position: absolute;
  top: 196px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 989px;
  font-size: 90px;
  font-weight: 800;
  line-height: 1.3;
  z-index: 15;
  opacity: 0;
}
.animate-cta-text {
  animation: ctaText 500ms linear alternate forwards;
}

.cta-text::before {
  all: unset;
  content: 'Let’s make it happen';
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 20px;
  z-index: 20;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  opacity: 0.6;
}

.cta-button {
  position: absolute;
  top: 521px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  opacity: 0;
}
.animate-cta-button {
  animation: ctaButton 500ms linear alternate forwards;
}
