.header {
  position: fixed;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);
  width: 1240px;
  color: black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 10;
}
.company-logo{
  
  width: 136px;
  display: flex;
  align-items: center;
   margin: 24px;
  gap: 10px;
  margin-right: 375px;
}
.logo {
  position: relative;
  width: 28.9px;
  height: 28.27px;
          
}


.rect1 {
  position: absolute;
  width: 16.96px;
  height: 28.27px;
  border-radius: 5px 0px 5px 5px; 
  background-color: black; 
  top: 0; 
  left: 0; 
}

.rect2 {
  position: absolute;
  width: 11.94px;
  height: 15.71px;
  border-radius: 0px 5px 5px 0px; 
  background-color: black; 
  top: 0; 
  left: 16.96px; 
}

.logo-name{
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;


}

.nav{
  display: flex;
  align-items: center;
  margin-right: 71px;
}
.nav-list {
  font-size: px;
  font-weight: 700;
  line-height: 1.4;
  width: 440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
